.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LoginForm {
  margin-top: 55px;
  margin-left: 345px;
  border: 5px solid orange;
  width: 600px;
  height: 300px;

  }
  .registration-form {
    border: 5px solid orange;
    margin-top: 45px;
  }
h3{
  color : green;
}
i{
  font-size:25px;
  color:white;
  cursor: pointer;
}

.usr-icon{
  position: absolute;
  right: 25px;
}

.loginMessage{
  position: absolute;
  right: 25px;
  color: green;
}

li{
  width: 100px;
}

.tooltip .tooltiptext {
  background-color: green;
  color: red;
}
.accountSummary{
color:rgb(200, 100, 13)
}

.crTypeTxnFont{
  color:rgb(12, 239, 12);
}
.drTypeTxnFont{
  color:red;
}

.ptagcursor{
  cursor: pointer;
  color:blue;
}
.createaccountbtn{
  position: absolute;
  right: 25px;
}
